{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 80,
  "endOfLine": "auto",
  "vueIndentScriptAndStyle": true,
  "importOrder": [
    "^(.*/pages/.*)$",
    "^(.*/components/.*)$",
    "^(.*/api/.*)$",
    "^(.*/hooks/.*)$",
    "^(.*/helpers/.*)$",
    "^(.*/router/.*)$",
    "^(.*/stores/.*)$",
    "^(.*/types/.*)$",
    "^(.*/models/.*)$",
    "^(.*/values/.*)$",
    "^(.*/assets/.*)$",
    "^(.*/styles/.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
