html,
body,
#app {
  height: 100%;
}

html {
  font-size: 16px;
}

@media (max-width: 1536px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: 'Mont', 'Geometria', Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: #f2f2f2;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25em;
}

.page-title {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.1875rem;
  color: var(--text-color);
}

.page-subtitle {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: #707070;
}
